small, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body {
  background-color: #f6fbfb;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border: 1px solid #f4f5f6;
  background-color: rgba(0,0,0,0);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #f4f5f6;
  cursor: pointer;
}

.btn:hover {
  transition: color 0.2s;
  transition: border 0.2s;
  color: white;
  border: 1px solid white;
}

.btn-classic {
  background-color: #e96559;
}

.btn-classic:hover {
  transition: background 0.2s;
  background: #d95549;
}

.btn-success {
  background-color: #52cc65;
}

input, select, textarea {
  height: 40px;
  border: none;
  border-radius: 5px;
  border: 1px solid #cfd2d7;
  font-family: 'Loto', sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}

input::placeholder, textarea::placeholder {
  color: #cfd2d7;
}

input.error, textarea.error {
  box-shadow: 0 0 3px #e7757f;
  border: 1px solid #e7757f;
  color: black;
}

input.error::placeholder, textarea.error::placeholder {
  color: #f7858f;
}

.link {
  cursor: pointer;
  color: #7070bf;
}

.link:hover {
  text-decoration: underline;
}