.modal-wrapper {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    position: fixed;
}

.modal {
    z-index: 1;
    margin: 10vh auto;
    background-color: white;
    width: 400px;
    max-width: 400px;
    width: fit-content;
    box-sizing: border-box;
    padding: 15px;
}

.modal > .line {
    margin: 5px 0;
}

.modal.card {
    box-shadow: none;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header > span {
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

.modal-header > span:hover {
    color: gray;
}

.modal-footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-footer > .btn-classic {
    margin-left: 15px;
}

@media screen and (max-width: 680px) {
    .modal {
        max-width: 80vw;
    }
}