.form__section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__section > h4 {
  margin-bottom: 5px;
  margin-left: 5px;
}

.form__section > input {
  width: 100%;
}

.error {
  color: #e7757f;
  text-align: left;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination, .pagination-wrapper {
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.pagination-wrapper {
  justify-content: space-around;
}

.pagination-element {
  padding: 5px;
  border: 2px solid #e96559;
  color: #e96559;
  border-right: none;
  font-weight: 500;
  cursor: pointer;
}

.pagination-element:last-child {
  border-right: 2px solid #e96559;
}

.pagination-element:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination-element:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination-element.controls-btn:hover, .pagination-element.controls-btn:hover {
  background-color: #e96559;
  color: white;
  transition: background-color 0.1s;
  transition: color 0.1s;
}

.excursion.message {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: #e7757f;
  border: 1.5px solid gainsboro;
  border-top: none;
  padding: 10px;
}
